#navbar{
    background-color: #129EB1;
    padding-left: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#logo{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

#login-logo{
  width: 30px;
  height: auto;
}
.d-flex{
  gap: 0.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.d-flex .form-control{
  height: 100%;
}
.d-flex .btn-search{
  background-color: #0D626D;
  height: 100%;
  color: #fff;
}
.d-flex .btn:hover{
  background-color: #ECFAFD;
  color: black;
}
#profile-drop{
  background-color: #129EB1;
  color: #fff;
  height: 100%;
}
#profile-drop:hover{
  background-color: #0D626D;
  color: black;
}
.d-flex .dropdown-item:hover{
  background-color: lightgray;
}

.nav-link{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}

.nav-link:hover{
    color: black;
}

#collapsibleNavbar{
    display: flex;
    justify-content: center;
}

.icons{
    margin-right: 30px;
    position: right;
    padding: 10px;
}

.icons img{
    margin-left: 10px;
    cursor: pointer;
    width: 30px;
}

li .nav-link{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}